@import "~bootstrap/scss/bootstrap";

body{
    background-color: #1d1d1d;
}

.dropzone{
    background-color: #fff;
    padding: 0.3rem;
    text-align: center;
    border-radius: 0.25rem;
    width: 70%;
    margin: 0 auto;
}

.reactionDiv{
    position: absolute;
    right: 20px;
    top: -14.5px;
}

.likeIconDiv {
  background-color: green;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dislikeIconDiv {
  background-color: #ff0000b8;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.likeButton{
    background-color: #008000b0;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.dislikeButton{
  background-color: rgba(255, 0, 0, 0.418);
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
   cursor: pointer;
}

.editDiv{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.addPhotoDiv{
    position: absolute;
    display: block;
    z-index: 99999;
    width: 50%;
    left: 20%;
    background-color: #000000ad;
    border-radius: 0.25rem;
    min-height: 13rem;
    padding-bottom: 2rem;
    @media only screen and (max-width: 600px) {
        width: 100%;
         left: 0;
    }
}

.photosList{
   max-width: 70%;
   margin: 0 auto;
   border-radius: 0.25rem;
}

.checkDiv{
    position: absolute;
    left: 0.5rem;
    bottom: 0;
}

.homeDiv{
    min-height: 60vh;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        width: 70%;
        text-align: center;
    }
}

.deleteAlbum{
     position: absolute;
     background: red;
     width: 1.5rem;
     height: 1.5rem;
     border-radius: 50%;
     top: -13px;
     left: 0.1rem;
     display: flex;
     justify-content: center;
     align-self: center;
}

.photoFirstDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.fileNameSpan{
    max-width: 70%;
    overflow: scroll;
}

.imgContainer {
    position: relative;
 
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.imgContainer:hover .overlay {
    opacity: 1;
}

.albumName{
    color: #000;
    &:hover{
        text-decoration: none;
        color: #000;
    }
}

.cardShadow{
        border: 1px solid;
        box-shadow: 3px 3px 10px #888888;
}