@import "~bootstrap/scss/bootstrap";

body{
    background-color: #333;
}

.dropzone{
    background-color: #ffffffa8;
    padding: 0.3rem;
    text-align: center;
    border-radius: 0.25rem;
}

.reactionDiv{
    position: absolute;
    right: 20px;
    top: -14.5px;
}

.likeIconDiv {
  background-color: red;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editDiv{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}